/* labs.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

section {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    margin: 10px 0;
    width: calc(33.33% - 20px); 
    box-sizing: border-box;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    width: 290px; /* Ширина рамки */
    height: 100px; /* Висота рамки */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff; /* Рамка навколо посилань */
    padding: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #ffffff;
    color: #1a1a1a;
}
